<html>
<head>
    <meta charset="UTF-8">
    <title>共有フォルダー｜<%= @first.name %><% if @second %>/<%= @second.name %><% end %><% if @third %>/<%= @third.name %><% end %></title>
    <link rel="stylesheet" href="/quickshare.css">
    <% base_url = request.path_info %>
    
</head>
<body>
    <header id="header">
        <div id="logo"><a href="/"></a><img src="/images/logo.png" alt="QuickShare"></div>
        <menu>
            <ul>
                <li class="menu1 menu_content"><a href="/how_to"><span>使い方</span></a></li>
                <li class="barBetween"></li>
                <li class="menu2 menu_content"><a href="/create"><span>作成</span></a></li>
                <li class="barBetween"></li>
                <li id="current" class="menu3  menu_content"><a href="/access"><span>アクセス</span></a></li>
                <div id="bar"></div>
            </ul>
        </menu>
    </header>
    <div id="container">
        <% unless @@error.empty? %>
            <li class="errors">
                <% case @@error
                    when "undefined method `[]' for nil:NilClass" %>
                    ファイルを選択してください。
                    <% when "Validation failed: Name can't be blank" %>
                    フォルダー名を設定してください。
                    <% when "folder name already exists" %>
                    同じ名前のフォルダーがすでに存在しています。別の名前を指定してください。
                    <% when "file size is too large" %>
                    フォルダー容量が制限を超えてしまいます。
                    <% when "file name already exists" %>
                    同じ名前のファイルが既に存在しています。
                    <% else %>
                    <%= @@error %>
                <% end %>
            </li>
            <% @@error = "" %>
        <% end %>
        
        <div id="directory">
            <div id="directoryProperty">
                <div id="folderImg"><img src="/images/folder.png" alt="folder"></div>
                <div id="breadCrumbs"><a href="/folders/<%= @first.id %>"><%= CGI.escapeHTML(@first.name) %></a>&nbsp;<% if @second %><span>></span>&nbsp;<a href="/folders/<%= @first.id %>/<%= @second.id %>"><%= CGI.escapeHTML(@second.name) %></a><% end %>&nbsp;<% if @third %><span>></span>&nbsp;<a href="/folders/<%= @first.id %>/<%= @second.id %>/<%= @third.id %>"><%= CGI.escapeHTML(@third.name) %></a><% end %></div>
                <div id="download">
                    <img src="/images/download.png">
                    <form action="<%= base_url %>/download" method="post" id="folderDownloadButton">
                        <input type="submit" value="" class="hover">
                    </form>
                </div>
                <div id="setting" class="menu">
                        <img src="/images/gear.png">
                        <span class="hover"></span>
                    <ul class="buttons dirFormButton">
                        <li><form action="<%= base_url %>/delete" method="post"><button type="submit" class="delete">削除</button></form></li>
                        <li><form><button>プロパティ</button></form></li>
                    </ul>
                </div>
                
            </div>
            

            <div id="addFileButton" class="addButton">
                <img src="/images/file_upload.png">
                <span class="hover2"></span>
            </div>
            
            <% unless @folder_limit %>
                <div id="addFolderButton" class="addButton">
                    <img src="/images/addFolder.png">
                    <span class="hover2"></span>
                </div>
            <% end %>

            <div id="droppable">
                <% if @@files.length == 0 && @@childfolders.length == 0  %>
                        <p class="dirEmpty">ファイル・フォルダーはありません</p>
                <% end %>
                <% @@childfolders.each do |folder| %>
                <table class="folder content" draggable="true" data-folder-id="<%= folder.id %>">
                        <td class="icon"><img src="/images/folder.png"></td>
                        <td class="name"><a href="<%= base_url %>/<%= folder.id %>"><%= folder.name %></a></td>
                        <td class="menu">
                            <span></span>
                            <ul class="buttons folderFormButton">
                                <li><form action="<%= base_url %>/<%= folder.id %>/download" method="post"><button type="submit">ダウンロード</button></form></li>
                                <li><form><button>移動</button></form></li>
                                <li><form action="<%= base_url %>/<%= folder.id %>/delete" method="post"><button type="submit">削除</button></form></li>
                                <li><form><button>プロパティ</button></form></li>
                            </ul>
                        </td>
                </table>
                <% end %>
                <% @@files.each do |file| %>
                <table class="file content" draggable="true" data-file-id="<%= file.id %>">
                        <td class="icon"><img src="
                            <% if File.exists?("./public/images/file_icons/#{(file.filetype).delete(".")}.png") %>
                                /images/file_icons/<%= (file.filetype).delete(".") %>.png
                            <% else %>
                                /images/file_icons/others.png
                            <% end %>
                        "></td>
                        <td class="name"><%= (file.name).gsub!(/\..*/,"") %></td>
                        <td class="type"><%= (file.filetype).delete(".").upcase %></td>
                        <td class="size"><%= File.size("./public/uploaded/#{file.link}#{file.filetype}") %></td>
                        <td class="created_at"><%= (file.created_at+9.hour).to_s.delete!("UTC").gsub(/\-/,"/") %></td>
                        <td class="menu">
                                <span></span>
                                <ul class="buttons fileFormButton">
                                    <li><form action="<%= base_url %>/files/<%= file.id %>/download" method="post"><button type="submit">ダウンロード</button></form></li>
                                    <li><form><button class="moveFileButton" data-file-id="<%= file.id %>">移動</button></form></li>
                                    <li><form action="<%= base_url %>/files/<%= file.id %>/delete" method="post"><button type="submit">削除</button></form></li>
                                    <li><form><button>プロパティ</button></form></li>
                                </ul>
                        </td>
                </table>
                <% end %>
                
                <div class="loading hide"></div>
            </div>
            <!-- #droppable -->
        
        </div>
        
        <div id="addFileWindow" class="window">
            <form action="<%= base_url %>/upload_file" method="post" enctype="multipart/form-data">
                <p>ファイルの追加</p>
                <input type="file" name="files[]" value="ファイルを選択" class="addFileInput" multiple>
                <input type="submit" value="共有" class="submit">
            </form>
        </div>
        <div id="addFolderWindow" class="window">
            <form action="<%= base_url %>/create_folder" method="post">
                <p>フォルダーの作成</p>
                <span>フォルダー名<input type="text" name="name" class="addFolderInput" required></span><br>
                <input type="submit" value="作成" class="submit">
            </form>
        </div>
        <div id="moveFileWindow" class="window">
            <p>ファイルの移動</p>
            <form method="post">
                <% @@folder.virtual_folders.all.each do |folder| %>
                    <input name="folder" type="radio" value="<%= folder.id %>"><%= folder.name %>
                <% end %>
                <input type="submit" value="移動" class="submit">
            </form>
        </div>
        <!-- #folder -->
        <div id="linkToTop"><a href="/">トップに戻る</a></div>
        <div id="copyright">©&nbsp;2016&nbsp;&nbsp;Daiki&nbsp;Matsuoka</div>
        <div id="pageCover"></div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/quickshare.js"></script>
</body>
</html>