<html>
<head>
    <meta charset="UTF-8">
    <title>フォルダー｜<%= @folder.name %></title>
    <meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-store">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/folder.css">
</head>
<body>
    <% base_url = "/folders/#{@folder.id}" %>
    <div id="container" style="background-color:
        <% if @admin %>
            Linen
        <% else %>
            #fafafa
        <% end %>
    ">
        <header id="header">
            <div id="header">
                <a href="/"><div id="logo">Quickshare</div></a>
            </div>
        </header>
        <% unless @@error.empty? %>
            <li class="errors">
                <% case @@error
                    when "undefined method `[]' for nil:NilClass" %>
                    ファイルを選択してください。
                    <% when "Validation failed: Name can't be blank" %>
                    フォルダー名を設定してください。
                    <% when "folder name already exists" %>
                    同じ名前のフォルダーがすでに存在しています。別の名前を指定してください。
                    <% when "file size is too large" %>
                    フォルダー容量が制限を超えてしまいます。
                    <% when "file name already exists" %>
                    同じ名前のファイルが既に存在しています。
                    <% else %>
                    <%= @@error %>
                <% end %>
            </li>
            <% @@error = "" %>
        <% end %>
        
        <div id="directory">
            <div id="directoryProperty">
                <% unless @folder.root? %>
                    <div id="parentFolder">
                        <% if @dir_list.length != 1 %>
                            <span><img src="/images/parents.png"></span>>
                            <ul class="buttons">
                                <% @dir_list.each do |parent| %>
                                <li><form><button data-parent-id="<%= parent.id %>"><%= parent.name %></button></form></li>
                                <% end %>
                            </ul>
                        <% end %>
                        <a href="/folders/<%= @folder.parent.id %>"><%= @folder.parent.name %></a> >
                    </div>
                <% end %>
                <div id="folderName"><%= @folder.name %></div>
                <div id="download">
                    <img src="/images/download.png">
                    <form action="<%= base_url %>/download" method="post" id="folderDownloadButton">
                        <input type="submit" value="" class="hover">
                    </form>
                </div>
                <div id="setting" class="menu">
                        <img src="/images/gear.png">
                        <span class="hover"></span>
                    <ul class="buttons dirFormButton">
                        <li><form action="<%= base_url %>/delete" method="post"><button type="submit" class="delete">削除</button></form></li>
                        <li><form><button>プロパティ</button></form></li>
                    </ul>
                </div>
                
            </div>
            
            <div id="addFileButton" class="addButton">
                <img src="/images/file_upload.png">
                <span class="hover2"></span>
            </div>
            
            <div id="new_folder_button" class="addButton">
                <img src="/images/addFolder.png">
                <span class="hover2"></span>
            </div>

            <div id="droppable">
                <% if @children == nil && @files == nil %>
                    <p class="dirEmpty">ファイル・フォルダーはありません</p>
                <% else %>
                <div id="folders">
                    <% @children.each do |folder| %>
                        <ul class="folder content" draggable="true" data-folder-id="<%= folder.id %>">
                            <li class="icon"><img src="/images/folder.png"></li>
                            <li class="name"><a href="/folders/<%= folder.id %>"><%= CGI.escapeHTML(folder.name) %></a></li>
                            <li class="menu">
                                <span></span>
                                <ul class="buttons">
                                    <li class="download-folder"><a href="/folders/<%= folder.id %>/download">ダウンロード</a></li>
                                    <li data-folder-id="<%= folder.id %>" class="move-folder">移動</li>
                                    <li data-folder-id="<%= folder.id %>" class="delete-folder">削除</li>
                                    <li>プロパティ</li>
                                </ul>
                            </li>
                    </ul>
                    <% end %>
                </div>
                <div id="files">
                    <% @files.each do |file| %>
                        <ul class="file content" draggable="true" data-file-id="<%= file.id %>">
                            <li class="icon"><img src="
                                <% if File.exists?("./public/images/file_icons/#{(file.filetype).delete(".")}.png") %>
                                    /images/file_icons/<%= (file.filetype).delete(".") %>.png
                                <% else %>
                                    /images/file_icons/others.png
                                <% end %>
                            "></li>
                            <li class="name"><%= (file.name).gsub!(/\..*/,"") %></li>
                            <li class="type"><%= (file.filetype).delete(".").upcase %></li>
                            <li class="size"><%= File.size("./public/uploaded/#{file.link}#{file.filetype}") %></li>
                            <li class="created_at"><%= (file.created_at+9.hour).to_s.delete!("UTC").gsub(/\-/,"/") %></li>
                            <li class="menu">
                                    <span></span>
                                    <ul class="buttons">
                                        <li class="download-file"><a href="<%= base_url %>/files/<%= file.id %>/download">ダウンロード</a></li>
                                        <li data-file-id="<%= file.id %>" class="move-file">移動</li>
                                        <li data-file-id="<%= file.id %>" class="delete-file">削除</li>
                                        <li>プロパティ</li>
                                    </ul>
                            </li>
                        </ul>
                    <% end %>
                </div>
                <div class="loading hide"></div>
                <% end %>
            </div>
            <!-- #droppable -->
        
        </div>
        
        <div id="addFileWindow" class="window">
            <form action="<%= base_url %>/upload_file" method="post" enctype="multipart/form-data">
                <p>ファイルの追加</p>
                <input type="file" name="files[]" value="ファイルを選択" class="addFileInput" multiple>
                <input type="submit" value="共有" class="submit">
            </form>
        </div>
        <div id="new_folder" class="window">
            <form action="<%= base_url %>/create_folder" method="post">
                <p>フォルダーの作成</p>
                <span>フォルダー名<input type="text" name="name" class="new-folder-input" required></span><br>
                <button type="submit" class="submit" data-folder-id="<%= @folder.id %>">作成</button>
            </form>
        </div>
        <!-- 
        <div id="moveFileWindow" class="window">
            <p>ファイルの移動</p>
            <form method="post">
                <input type="submit" value="移動" class="submit">
            </form>
        </div>
        -->
        <!-- #folder -->
        <div id="linkToTop"><a href="/">トップに戻る</a></div>
        <div id="copyright">©&nbsp;2016&nbsp;&nbsp;Daiki&nbsp;Matsuoka</div>
        <div id="pageCover"></div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/quickshare.js"></script>
</body>
</html>